{{ 'custom-section-blog.css' | asset_url | stylesheet_tag }}

<section class="blog-section">
  <div class="carousel_area">
    <ul class="blog-module carousel_area__inner">
      {% for article in section.settings.blog.articles limit: 6 %}
        <li class="blog-box">
          <p class="blog-date-style">{{ article.created_at | date: '%Y/%m/%d' }}</p>
          <a href="{{ article.url }}">
            <div class="blog-titile-style">{{ article.title }}</div>
            <div class="blog-img-box">
              <div class="blog-img-style">
                <img loading="lazy" src="{{ article | image_url }}" width="279" height="278">
              </div>
              <div class="blog-number">0{{ forloop.index }}</div>
            </div>
          </a>
        </li>
      {% endfor %}
      <a href="{{ section.settings.blog.url }}" class="pink-button"
        >他のブログを見てみる<img
          class="arrow-all"
          loading="lazy"
          height="24"
          width="24"
          src="{{ "arrow-small-right-white.svg" | asset_url }}"
      ></a>
    </ul>
  </div>
  <div class="carousel-module">
    <button class="prev-box disable-button">
      <img class="arrow-prev" loading="lazy" height="24" width="24" src="{{ "arrow-small-left.svg" | asset_url }}">
      <div>PREV</div>
    </button>
    <div class="carousel-box">
      <div class="carousel-line-style"></div>
      <div class="carousel-moveable-line-style"></div>
    </div>
    <button class="next-box">
      <div>NEXT</div>
      <img class="arrow-next" loading="lazy" height="24" width="24" src="{{ "arrow-small-right.svg" | asset_url }}">
    </button>
  </div>
</section>

{% schema %}
{
  "name": "section-blog",
  "settings": [
    {
      "type": "blog",
      "id": "blog",
      "label": "t.sections.featured-blog.settings.blog.label"
    }
  ],
  "presets": [
    {
      "name": "section-blog",
      "settings": {}
    }
  ]
}
{% endschema %}
